class Test1 {
	Test t ;
public static void main(String args[]){
Test t2 = new Test();
Test t3 = new Test();
Test t4 = new Test();

t2.t = t3;
t3.t = t4;
t4.t = t2;

t2 = null;
t3 = null;
t4 = null;
}
}
